.red{
    color:red;
}
.box1{
    flex-direction:column;
    width:30% ;
}
#INIAD{
    width:50px;
}
#title{
    color:#3CB371;
}
.box2{
    width:70%;
    
}
#container{
    display:flex;
    background-image: url("https://thumb.photo-ac.com/78/783615e958c06ab1d642c0060462469f_t.jpeg");
}