.red{
    color:red;
}
#INIAD{
    width:50px;
}
#title{
    color:#3CB371;
}
#container{
    display:flex;
    background-color: #f5f5f5;
    background-size: cover;
    background-attachment: fixed;         
    background-position: center center;
    height: 60%;
}
#top{
    background-color: #f5f5f5;
    display:flex;
    border-bottom:solid ;
    height: 20%;
}

.box2{
    height: 20%;
    background-color: #f5f5f5;
}